{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <!-- home page IMG/VIDEO slider description start -->
        <div class="slide-all">
            <div class="home-slide-content-all hide-template-content">
                <p>
                </p>
                <h2>
                </h2>
            </div>
        </div>
    <div class="container-home">
        <div class="introduction">
            <!-- page title start -->
            <h1 class="home-page-title">
                404 <p>
                Page not found.
            </h1><!-- page title end -->
            <!-- sign-up modal launcher start -->
            <div class="sign-up-modal-launcher-wrapper">
                <a class="button-link button-link-home" href="https://danbortolato.github.io"><span>HOME PAGE</span><i
                        class="ion-android-arrow-dropright"></i></a>
            </div><!-- sign-up modal launcher end -->
        </div><!-- divider start -->
        <div class="dividerOT-home-bottom"></div><!-- divider end -->
    </div><!-- container end -->
</div><!-- left side end -->

{% endblock %}