{% load static %}        <!-- section left start -->
        <div class="fireOT-left left-side" id="about">
            <!-- divider start -->
            <div class="dividerOT about-top"></div><!-- divider end -->
            <!-- container start -->
            <div class="container">
                <!-- row start -->
                <div class="row">
                    <!-- col start -->
                    <div class="col-lg-12">
                        <h2 class="section-subheading section-subheading-about">
                            <span>Who I am</span>
                        </h2>
                        <h2 class="section-heading">
                            About
                        </h2>
                    </div><!-- col end -->
                </div><!-- row end -->
                <!-- divider start -->
                <div class="dividerOT dividerOT-inner"></div><!-- divider end -->
                <!-- row start -->
                <div class="row">
                    <!-- col start -->
                    <div class="col-md-6 col-sm-12 about-block">
                        <h4 class="about-heading">
                            since
                        </h4>
                        <div class="about-number-title facts-counter-number">
                            1991
                        </div>
                        <p>
                            With a long years of experience in retail, I have acquired the skill and knowledge in
                            development for building new tools to optimize my work and make the business more efficient.
                        </p>
                        <p folt-style="bold">I really enjoy every step while working.</p>

                    </div><!-- col end -->
                </div><!-- row end -->
                <!-- divider start -->
                <div class="dividerOT dividerOT-inner"></div><!-- divider end -->
            </div><!-- container end -->
            <!-- divider start -->
            <div class="dividerOT out-bottom"></div><!-- divider end -->
        </div><!-- section left end -->
        <!-- section right start -->
        <div class="fireOT-right right-side">
            <!-- about IMG start -->
            <div class="about-img-container">
                <div class="slide-img">
                    <img alt="BG Img" src="{% static 'img/background/slide-img-about.jpg' %}">
                </div>
            </div><!-- about IMG end -->
        </div><!-- section right end -->