{% load static %}
<div class="left-side-home">
    <!-- header start -->
    <div class="header">
        <!-- logo start -->
        <div class="logo"></div><!-- logo end -->
        <!-- social icons start -->
    </div><!-- header end -->

    <!-- wave start -->
    <div class="wave-holder">
        <canvas id="wave"></canvas>
    </div><!-- wave end -->
    <!-- right side start -->
    <div class="right-side">
        <!-- container start -->
        <div class="container">
            <!-- home page IMG/VIDEO slider description start -->
            <div class="slide-all">
                <div class="home-slide-content-all hide-template-content">
                    <p>
                    </p>
                    <h2>
                    </h2>
                </div>
            </div><!-- home page IMG/VIDEO slider description end -->
            <!-- home page IMG/VIDEO slider description start -->
            <div class="slider-all"></div><!-- home page IMG/VIDEO slider description end -->
        </div><!-- container end -->
        <!-- home page IMG/VIDEO slider start -->
        <div class="home-img-container overlay overlay-dark-60">
            <!-- single IMG start -->
            <div class="slide-img">
                <!-- single IMG bg start -->
                <img alt="BG Img" src="{% static 'img/background/SINGLE-bg.jpg' %}"><!-- single IMG bg end -->
            </div><!-- single IMG end -->
        </div><!-- home page IMG/VIDEO slider end -->
        <!-- section page IMG slider mobile start -->
        <!-- about IMG mobile start -->
        <div class="about-img-container mobile">
            <div class="slide-img">
                <img alt="BG Img" src="{% static 'img/background/slide-img-about.jpg' %}">
            </div>
        </div><!-- about IMG mobile end -->
        <!-- services IMG mobile start -->
        <div class="services-img-container mobile">
            <div class="slide-img">
                <img alt="BG Img" src="{% static 'img/background/slide-img-services.jpg' %}">
            </div>
        </div><!-- services IMG mobile end -->
        <!-- works IMG mobile start -->
        </div><!-- works IMG mobile end -->
        <!-- contact IMG mobile start -->
        <div class="contact-img-container mobile">
            <div class="slide-img">
                <img alt="BG Img" src="{% static 'img/background/slide-img-services.jpg' %}">
            </div>
        </div><!-- contact IMG mobile end -->
        <!-- section page IMG slider mobile end -->
    </div><!-- right side end -->
    <!-- home end -->
    <!-- sign up modal start -->
    <div class="sign-up-modal">
        <!-- container start -->
        <div class="container">
            <!-- center container start -->
            <div class="center-container-sign-up-modal">
                <!-- center block start -->
                <div class="center-block-sign-up-modal">
                    <!-- row start -->
                    <div class="row center-block-sign-up-modal-padding-top">
                        <!-- col start -->
                        <div class="col-lg-12">
                        </div><!-- col end -->
                    </div><!-- row end -->
                    <!-- row start -->
                    <div class="row">
                        <!-- col start -->
                        <div class="col-lg-12">
                        </div><!-- col end -->
                    </div><!-- row end -->
                    <!-- row start -->
                    <div class="row center-block-sign-up-modal-padding-bottom">
                        <!-- col start -->
                        <div class="col-lg-12">
                            <div class="sign-up-modal-closer">
                                <span class="ion-close"></span>
                            </div>
                        </div><!-- col end -->
                    </div><!-- row end -->
                </div><!-- center block end -->
            </div><!-- center container end -->
        </div><!-- container end -->
    </div><!-- sign up modal end -->
    <!-- pages start -->
    <section class="fireOT">
    </section>
</div><!-- contact modal end -->
<!-- photoSwipe background start -->
<div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
            <div class="pswp__top-bar">
                <div class="pswp__counter"></div><button class="pswp__button pswp__button--close"
                    title="Close (Esc)"></button> <button class="pswp__button pswp__button--share"
                    title="Share"></button> <button class="pswp__button pswp__button--fs"
                    title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom"
                    title="Zoom in/out"></button>
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                        <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div>
            </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>
        </div>
    </div>
</div><!-- photoSwipe background end -->
<!-- to top arrow start -->
<a class="scrollToTop" href="#">
    <div class="to-top-arrow to-top-arrow">
        <span class="ion-ios-arrow-up"></span>
    </div>
</a><!-- to top arrow end -->
        <!-- about start -->