{% load static %}
<div class="contact-modal">
  <!-- container start -->
  <div class="container">
    <!-- center container start -->
    <div class="center-container-contact-modal">
      <!-- center block start -->
      <div class="center-block-contact-modal">
        <!-- row start -->
        <div class="row center-block-contact-modal-padding-top">
          <!-- col start -->
          <div class="col-lg-12">
            <h2 class="section-heading">Soon...</h2>
            <p style="text-align: center; margin-top: 20px;">in construction!</p>
          </div>
          <!-- col end -->
        </div>
        <!-- row end -->

        <!-- row start -->
        <div class="row center-block-contact-modal-padding-bottom">
          <!-- col start -->
          <div class="col-lg-12">
            <div class="contact-modal-closer">
              <span class="ion-close"></span>
            </div>
          </div>
          <!-- col end -->
        </div>
        <!-- row end -->
      </div>
      <!-- center block end -->
    </div>
    <!-- center container end -->
  </div>
  <!-- container end -->
</div>
