{% load static %}
<!-- container start -->
        <div class="container-home">
            <div class="introduction">
                <!-- page title start -->
                <h1 class="home-page-title">
                    Daniel <p>
                        Bortolato
                </h1>
                <!-- page title end -->
                <!-- sign-up modal launcher start -->
                <div class="sign-up-modal-launcher-wrapper">
                    <a class="button-link button-link-home" href="https://www.linkedin.com/in/danbortolato"><span>Backend Developer</span>
                        <i class="ion-android-arrow-dropright"></i></a>
                </div><!-- sign-up modal launcher end -->
            </div><!-- divider start -->
            <div class="dividerOT-home-bottom"></div><!-- divider end -->
        </div><!-- container end -->
    </div><!-- left side end -->