{% load static %}
<!-- section left start -->
        <div class="fireOT-left left-side" id="contact">
            <!-- container start -->
            <div class="container">
                <!-- row start -->
                <div class="row">
                    <!-- col start -->
                    <div class="col-lg-12">
                        <h2 class="section-subheading">
                            <span>more info</span>
                        </h2>
                        <h2 class="section-heading">
                            Contact
                        </h2>
                    </div><!-- col end -->
                </div><!-- row end -->
                <!-- divider start -->
                <div class="dividerOT dividerOT-inner"></div><!-- divider end -->
                <!-- row start -->
                <div class="row">
                    <!-- contact info start -->
                    <div class="contact-info-wrapper">
                        <!-- col start -->
                        <div class="col-md-6 col-sm-12">
                            <div class="contact-info-description">
                                <i class="ion-ios-location-outline contact-info-description-img"></i> <span
                                    class="contact-info-text">Santa Catarina<br>
                                    Brazil</span>
                            </div>
                        </div><!-- col end -->
                        <!-- col start -->
                        <div class="col-md-6 col-sm-12">
                            <div class="contact-info-description">
                                <i class="ion-ios-information-outline contact-info-description-img"></i> <span
                                    class="contact-info-text"><a class="link-underline"
                                        href="mailto:daniel.bortolato@gmail.com">daniel.bortolato@gmail.com</a></span><br>
                            </div>
                        </div><!-- col end -->
                    </div><!-- contact info end -->
                </div><!-- row end -->
                <!-- divider start -->
                <div class="dividerOT dividerOT-inner"></div><!-- divider end -->
                <!-- row start -->
                <div class="row">
                    <!-- col start -->
                    <div class="col-lg-12">
                        <!-- contact modal launcher start -->
                        <div class="contact-modal-launcher-wrapper">
                            <a class="button-link button-link-contact contact-modal-launcher"><span>send a
                                    message</span><i class="ion-android-arrow-dropright"></i></a>
                        </div><!-- contact modal launcher end -->
                    </div><!-- col end -->
                </div><!-- row end -->
                <!-- divider start -->
                <div class="dividerOT dividerOT-inner"></div><!-- divider end -->
                <!-- divider start -->
                <div class="dividerOT out-bottom"></div><!-- divider end -->
                <!-- row start -->
                <div class="row">
                    <!-- col start -->
                    <div class="col-lg-12 text-center">
                        <!-- copyright start -->
                        <div class="copyright">
                            <a class="link-underline" href="">Daniel Bortolato</a> &copy;
                        </div><!-- copyright end -->
                    </div><!-- col end -->
                </div><!-- row end -->
            </div><!-- container end -->
            <!-- divider start -->
            <div class="dividerOT out-bottom-last"></div><!-- divider end -->
        </div><!-- section left end -->
        <!-- section right start -->
        <div class="fireOT-right right-side">
            <!-- contact IMG start -->
            <div class="contact-img-container">
                <div class="slide-img">
                    <img alt="BG Img" src="{% static 'img/background/slide-img-services.jpg'%}">
                </div>
            </div><!-- contact IMG end -->
        </div><!-- section right end -->