{% load static %}
<head>
    <meta charset="utf-8">
    <title>
        Daniel Bortolato
    </title>
    <meta content="" name="description">
    <meta content="" name="author">
    <meta content="" name="keywords">
    <meta
        content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
        name="viewport" <!-- style start -->
    <link href="{% static 'css/plugins.css' %}" media="all" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" media="all" rel="stylesheet" type="text/css"><!-- style end -->
</head>
