{% load static %}
<head>
    <meta charset="utf-8">
    <title>
        Daniel Bortolato
    </title>
    <meta content="" name="description">
    <meta content="" name="author">
    <meta content="" name="keywords">
    <meta
        content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
        name="viewport" <!-- style start -->
    <link href="{% static 'css/plugins.css' %}" media="all" rel="stylesheet" type="text/css">
    <link href="{% static 'css/style.css' %}" media="all" rel="stylesheet" type="text/css"><!-- style end -->
    <!-- google fonts start -->
    <link
        href="../../../fonts.googleapis.com/css%EF%B9%96family=Raleway%EF%B9%95100,200,300,400,500,600,700,800,900%EF%BD%9CMontserrat%EF%B9%95400,400i,500,500i,600,600i,700,700i,800,800i,900,900i.css"
        rel="stylesheet" type="text/css"><!-- google fonts end -->
</head>
