{% load static %}
<!-- section left start -->
        <div class="fireOT-left left-side" id="services">
            <!-- container start -->
            <div class="container">
                <!-- row start -->
                <div class="row">
                    <!-- col start -->
                    <div class="col-lg-12">
                        <h2 class="section-subheading">
                            <span>What I do</span>
                        </h2>
                        <h2 class="section-heading">
                            Services
                        </h2>
                    </div><!-- col end -->
                </div><!-- row end -->
                <!-- divider start -->
                <div class="dividerOT dividerOT-inner"></div><!-- divider end -->
                <!-- row start -->
                <div class="row">
                    <!-- col start -->
                    <div class="col-md-6 col-sm-12 services-block">
                        <h4 class="service-heading">
                            Backend
                        </h4>
                        <div class="service-number-title">
                            Developer
                        </div><!-- skills bar start -->
                        <div class="show-skillbar">
                            <!-- skill 1 start -->
                            <div class="skillbar" data-percent="100">
                                <span class="skillbar-title"></span>
                                <div class="skillbar-bar"></div>
                            </div><!-- skill 1 end -->
                        </div><!-- skills bar end -->
                        <p>
                            <a class="link-underline" href="#"> Python </a><br>
                            <a class="link-underline" href="#"> Django </a><br>
                            <a class="link-underline" href="#"> Flask </a><br>
                            <a class="link-underline" href="#"> mySQL </a><br>
                            <a class="link-underline" href="#"> MongoDB </a><br>
                            <a class="link-underline" href="#"> Docker </a>
                        </p>

                    </div><!-- col end -->
                    <!-- col start -->
                    <div class="col-md-6 col-sm-12 services-block services-block-correction">
                        <h4 class="service-heading">
                            Frontend
                        </h4>
                        <div class="service-number-title">
                            Designer
                        </div><!-- skills bar start -->
                        <div class="show-skillbar">
                            <!-- skill 2 start -->
                            <div class="skillbar" data-percent="100">
                                <span class="skillbar-title"></span>
                                <div class="skillbar-bar"></div>
                            </div><!-- skill 2 end -->
                        </div><!-- skills bar end -->
                        <p>
                            <a class="link-underline" href="#"> HTML </a><br>
                            <a class="link-underline" href="#"> JavaScript </a><br>
                            <a class="link-underline" href="#"> CSS </a><br>
                            <a class="link-underline" href="#"> Illustrator </a><br>
                            <a class="link-underline" href="#"> Photoshop </a>
                        </p>
                    </div><!-- col end -->
                </div><!-- row end -->
                <!-- divider start -->
                <div class="dividerOT dividerOT-inner"></div><!-- divider end -->
                <p>
                    <div class="contact-modal-launcher-wrapper">
                        <a class="button-link button-link-contact" href="https://www.linkedin.com/in/danbortolato/details/certifications"><span>Certifications
                                </span><i class="ion-android-arrow-dropright"></i></a>
                </p>
            </div><!-- container end -->
            <!-- divider start -->
            <div class="dividerOT out-bottom"></div><!-- divider end -->
        </div><!-- section left end -->
        <!-- section right start -->
        <div class="fireOT-right right-side">
            <!-- services IMG start -->
            <div class="services-img-container">
                <div class="slide-img">
                    <img alt="BG Img" src="{% static 'img/background/slide-img-services.jpg' %}">
                </div>
            </div><!-- services IMG end -->
        </div><!-- section right end -->